/* Set the body background color to white */
body {
    background-color: hsl(0, 0%, 100%);
}

/* Set the font weight to 300 */
.thin {
    font-weight: 300;
}

/* Set the footer color */
.dark-bg {
    background-color: #d62b70;
}

/* Set a white background color */
.main-bg {
    background-color: #ffffff;
}

/* Posts Styling */
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #d62b70;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 35vh;
    width: 100%;
}

.masthead-text {
    background-color: #d62b70;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.masthead-image img {
    width: 100%;
    height: 100%;
    object-fit: contaim;
  }


.post-link {
    text-decoration: none;
    color: #634a54;
}

.post-link:hover,
.page-link {
    color: #d62b70;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #d62b70;
}

/* Buttons and links */

.btn-signup {
    background-color: #d62b70;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #d62b70;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #d62b70;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #d62b70;
    background: transparent;
    border: none;
}

.nav-link {
    color: rgb(34, 34, 43);
    font-size: 2em;
    font-family: 'Frank Ruhl Libre', serif;
  }


.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #d62b70 !important;
}

/* Fonts */

.card-title {
    font-family: 'Frank Ruhl Libre', serif;
}  

.navbar-text {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5em;
}

/* Main Logo */

#my-logo  {
    width: 470px ;
    height: 150px ;
    object-fit: cover;
  }

 /* Images */

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .navbar-brand img:hover {
    transform: rotate(10deg);
  }