{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <h2>Contact Us</h2>
      </div>  
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3">
        <form method="POST" action="{% url 'contact' %}">
          {% csrf_token %}
          <table class="table">
            {% for field in form %}
              <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
              </tr>
            {% endfor %}
          </table>
          <button class="btn btn-signup right" aria-label="Submit contact form" type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>  
<br>  
{% endblock %}