{% extends 'base.html' %}

{% block content %}
<div class="d-flex p-2">
  <div class="col-md-8">

<h1>Delete Recipe</h1>

<p>Are you sure you want to delete the following recipe?</p>

<h2>{{ post.title }}</h2>
<p>{{ post.description }}</p>

<div class="d-flex">
<form action="{% url 'delete_post' post.slug %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete" class="btn btn-danger mx-2">
</form>

<a type="button" class="btn btn-info" href="{% url 'home' %}">Cancel</a>
  </div>
</div>
</div>
{% endblock %}